# Test W2Parser functions

In [21]:
from w2_control_file import W2ControlFile
import w2_functions as w2
import pandas as pd

## Open CE-QUAL-W2 control file

In [8]:
w2con = W2ControlFile('w2_con.npt')
# w2con.save()

## Read GRID card

In [2]:
infile = os.path.abspath('w2_con.npt')
nlines = 969
record_line = 15 # line number of header of record in w2_con.npt file
record_nlines = 3 # number of lines in record, including the blank line after the record
widths = 7*[8]

data = w2.get_record(infile, widths, nlines, record_line, record_nlines)
data

   GRID  NWB  NBR  IMX  KMX  NPROC CLOSEC
0   NaN    1    1   77   56      1     ON

## Read GATE GAS card

In [3]:
infile = os.path.abspath('w2_con.npt')
nlines = 969
record_line = 208 # line number of header of record in w2_con.npt file
record_nlines = 21 # number of lines in record, including the blank line after the record
widths = 8*[8]

data = w2.get_record(infile, widths, nlines, record_line, record_nlines)
data

   GATE GAS GASGTC  EQGT  AGASGT  BGASGT  CGASGT GTTYPE  SPBC
0     POWR1    OFF     2   135.0   -35.0    -0.1    POW   NaN
1       SB1     ON     2   135.0   -35.0    -0.1    SPB  2.04
2       SB2     ON     2   135.0   -35.0    -0.1    SPB  2.04
3       SB3     ON     2   135.0   -35.0    -0.1    SPB  2.04
4       SB4     ON     2   135.0   -35.0    -0.1    SPB  2.04
5       SB5     ON     2   135.0   -35.0    -0.1    SPB  2.04
6       SB6     ON     2   135.0   -35.0    -0.1    SPB  2.04
7       SB7     ON     2   135.0   -35.0    -0.1    SPB  2.04
8       SB8     ON     2   135.0   -35.0    -0.1    SPB  2.04
9       SB9     ON     2   135.0   -35.0    -0.1    SPB  2.04
10     SB10     ON     2   135.0   -35.0    -0.1    SPB  2.04
11     SB11     ON     2   135.0   -35.0    -0.1    SPB  2.04
12     SB12     ON     2   135.0   -35.0    -0.1    SPB  2.04
13     SB13     ON     2   135.0   -35.0    -0.1    SPB  2.04
14     SB14     ON     2   135.0   -35.0    -0.1    SPB  2.04
15     SB15     ON     2   135.0   -35.0    -0.1    SPB  2.04
16     SB16     ON     2   135.0   -35.0    -0.1    SPB  2.04
17     SB17     ON     2   135.0   -35.0    -0.1    SPB  2.04
18     SB18     ON     2   135.0   -35.0    -0.1    SPB  2.04
19    OTHER    OFF     2   135.0   -35.0    -0.1    NaN   NaN

## Read SPR SEG card

In [23]:
import pandas as pd
infile = os.path.abspath('w2_con.npt')
nlines = 969
record_line = 337 # line number of header of record in w2_con.npt file
record_nlines = 11 # number of lines in record, including the blank line after the record
widths = 10*[8]

data = w2.get_record(infile, widths, nlines, record_line, record_nlines)
display(data)
data2 = w2.reshape_wrapped_fields(data, pd.Int32Dtype())
display(data2)

,SPR SEG,ISPR,ISPR.1,ISPR.2,ISPR.3,ISPR.4,ISPR.5,ISPR.6,ISPR.7,ISPR.8
0,WB 1,2,3,4,5.0,6.0,7.0,8.0,9.0,10.0
1,NaN,11,12,13,14.0,15.0,16.0,17.0,18.0,19.0
2,NaN,20,21,22,23.0,24.0,25.0,26.0,27.0,28.0
3,NaN,29,30,31,32.0,33.0,34.0,35.0,36.0,37.0
4,NaN,38,39,40,41.0,42.0,43.0,44.0,45.0,46.0
5,NaN,47,48,49,50.0,51.0,52.0,53.0,54.0,55.0
6,NaN,56,57,58,59.0,60.0,61.0,62.0,63.0,64.0
7,NaN,65,66,67,68.0,69.0,70.0,71.0,72.0,73.0
8,NaN,74,75,76,NaN,NaN,NaN,NaN,NaN,NaN

,SPR SEG,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,...,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR,ISPR
0,WB 1,2,3,4,5,6,7,8,9,10,...,67,68,69,70,71,72,73,74,75,76

In [36]:
data2.to_excel('aaa.xlsx')

## Read PRF DATE card

In [22]:
infile = os.path.abspath('w2_con.npt')
nlines = 969
record_line = 319 # line number of header of record in w2_con.npt file
record_nlines = 3 # number of lines in record, including the blank line after the record
widths = 10*[8]
data = w2.get_record(infile, widths, nlines, record_line, record_nlines)
data2 = w2.reshape_wrapped_fields(data, pd.Float32Dtype())
data2

  PRF DATE  PRFD
0     WB 1   NaN